<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Handlebars demo page</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home page</a></li>
            <li><a href="/films">Films</a></li>
            <li><a href="/add">Add film</a></li>
        </ul>
    </div>
</nav>