<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Handlebars demo page</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{#if isMovie}}
            <li class="active"><a href="/">Movies</a></li>
            {{else}}
            <li><a href="/">Movies</a></li>
            {{/if}}

            {{#if isAdd}}
            <li class="active"><a href="/add">Add movie</a></li>
            {{else}}
            <li><a href="/add">Add movie</a></li>
            {{/if}}
        </ul>
    </div>
</nav>