{{#if allTheMovies.length}}
<h1>Movies</h1>
<div class="row">
    {{#each allTheMovies}}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="{{img}}">
                <span class="card-title" style="color:deepskyblue">{{title}}</span>
            </div>
            <div class="card-content">
                <p>{{description}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<h1>Please add movie and then come back, We don't have any movies rigth now</h1>
{{/if}}